* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

p, h1, h2, h3, h4, h5, h6, ul, li, figure {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
	text-transform: uppercase;
}

ul, li, .btn {
    display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}

.container {
	 width: 100%;
	 max-width: 1200px;
	 margin: 0 auto;
	 padding: 100px 15px;
}

:root {
  --darktext: #646464;
  --brighttext: #FEFEFA;
  --yellow: #FEED83;
}

.side__content {
	width: 48%;
	padding: 20px 0;
	color: var(--brighttext);
	background-color: var(--darktext);
	margin-right: 70px;
}

.block {
	margin-bottom: 100px;
}

.intro {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.prof__photo {
	margin-bottom: 45px;
}

.full__name {
	font-size: 55px;
	font-weight: 700;
	margin-bottom: 20px;
	color: var(--yellow);
}

.intro span {
	font-size: 25px;
	font-weight: 300;
	text-decoration-line: line-through;
}

.profession {
	font-size: 30px;
	font-weight: 500;
	margin-top: 20px;
}

.profession:after {
    content: "";
    display: block;
    width: 76%;
    height: 5px;
    margin: 40px 0;
    background-color: var(--brighttext);
}

h3  {
	font-size: 27px;
	font-weight: 600;
	margin-bottom: 25px;	
}

.about__text {
	line-height: 150%;
}

.fas, .fab {
	margin-right: 15px;
}

.contacts li {
	margin-bottom: 10px;
}

.main__content {
	width: 52%;
	color: var(--darktext);
}

h2 {
	font-size: 30px;
	padding: 23px 0 23px 50px;
	color: var(--darktext);
	background-color: var(--yellow);
	margin-bottom: 45px;
}

.block__list li {
	line-height: 150%;
    margin-bottom: 10px;
}

.block__list span {
	font-weight: 600;
}

