* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

p, h1, h2, h3, h4, h5, h6, ul, li, figure {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
	text-transform: uppercase;
}

ul, li, .btn {
    display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}

.container {
	 width: 100%;
	 max-width: 1200px;
	 margin: 0 auto;
	 padding: 100px 15px;
}

:root {
  --darktext: #646464;
  --brighttext: #FEFEFA;
  --yellow: #FEED83;
}

.side__content {
	width: 48%;
	padding: 20px 0;
	color: var(--brighttext);
	background-color: var(--darktext);
	margin-right: 70px;
}

.block {
	margin-bottom: 100px;
}

.intro {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.prof__photo {
	margin-bottom: 45px;
}

.full__name {
	font-size: 55px;
	font-weight: 700;
	margin-bottom: 20px;
	color: var(--yellow);
}

.intro span {
	font-size: 25px;
	font-weight: 300;
	text-decoration-line: line-through;
}

.profession {
	font-size: 30px;
	font-weight: 500;
	margin-top: 20px;
}

.profession:after {
    content: "";
    display: block;
    width: 76%;
    height: 5px;
    margin: 40px 0;
    background-color: var(--brighttext);
}

h3  {
	font-size: 27px;
	font-weight: 600;
	margin-bottom: 25px;	
}

.about__text {
	line-height: 150%;
}

.fas, .fab {
	margin-right: 15px;
}

.contacts li {
	margin-bottom: 10px;
}

.main__content {
	width: 52%;
	color: var(--darktext);
}

h2 {
	font-size: 30px;
	padding: 23px 0 23px 50px;
	color: var(--darktext);
	background-color: var(--yellow);
	margin-bottom: 45px;
}

.block__list li {
	line-height: 150%;
    margin-bottom: 10px;
}

.block__list span {
	font-weight: 600;
}

/*

.header--fixed {
	background-color: #FCE38A;
	color: #333;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	transform: translate3d(0,0,0);
	padding: 10px 0;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1) ;
}

.header__inner {
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 100px;
}    

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #FFF;
	margin-right: 150px;
}

.nav {
	text-transform: uppercase;
	font-size: 14px;
	display: flex;
}

.nav__link {
	color: #FFF;
	text-decoration: none;	
	transition: color 0.1s linear;
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	position: relative;
	background-color: none;

}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fce38a; 
	position: absolute;
	top:100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.1 linear;
}

.nav__link.active {
    color: #fce38a;
}

.nav__link:hover:after, .nav__link.active:after {
	opacity: 1;
}

.nav__link:hover {
	color: #fce38a;

}

.log {
	margin-left: 120px;
}

.log a {
    text-decoration: none;
    color: #FFF;
}

.nav__toggle {
	width: 30px;
    padding: 10px 0;
    display: none;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav__toggle.active .nav__toggle__item {
	background: none;
}

.nav__toggle.active .nav__toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0px, -2px, 0px);
}

.nav__toggle.active .nav__toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0px, 3px, 0px);
}

.nav__toggle__item {
	display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav__toggle__item:before, .nav__toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav__toggle__item:before {
    top: -8px;
}

.nav__toggle__item:after {
    bottom: -8px;
}

.intro {
	 width: 100%;
	 height: 1000px; 
	 background: url("img/intro.jpg") center no-repeat;
	 background-size: cover;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 min-height: 820px;
	 position: relative;
}

.intro__inner {
	width: 100%;
	max-width: 880px;

}

.intro__title {
	font-size: 90px;
	line-height: 110px;
	letter-spacing: 0.04em;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFF;
}

.intro__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #FCE38A;
	margin: 40px 0;
}

.intro__subtitle {
	font-family: 'Kaushan Script', cursive; 
	font-size: 50px;
	color: #FFF;
	margin-bottom: 60px;
}


.btn {
	display: inline-block;
	vertical-align: top;
	padding: 20px 40px;
	background: #FCE38A;
	border-radius: 10px;
	color: #333;
	font-size: 23px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: background 0.1s linear, color 0.1s linear;
	margin-bottom: 150px;
}

.btn:hover {
	background: #FFF;
	color: #333;
}

.slider {
	display: flex;
	justify-content: space-between;
	margin: 150px 0 100px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.slider__inner {
	display: flex;
	justify-content: space-between;
}

.slider__item {
	position: relative;
	width: 24%;
	padding: 20px 0;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	border-top: 3px solid #FFF;
	opacity: 0.7;
}

.slider__item.active {
	opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    position: absolute;
    top:-3px;
    left: 0;
    z-index: 1; 
    background-color: #FCE38A;
}

.slider__num {
	font-weight: 700;
}

.section {
	margin-top: 100px;
}

.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;
	text-align: center;
}

.section__header p {
	font-size: 15px;
	line-height: 190%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #333333;
	margin-bottom: 30px;
}

.section__subtitle {
	font-family: 'Kaushan Script', cursive; 
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
}

.section__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;

}

.section__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 40px auto;
	background-color:#FCE38A;
}

.about__text {
	width: 100%;
	max-width: 720px;
	letter-spacing: 0.05em;
	margin: auto;
	line-height: 190%;
}

.about__text span {
	font-weight: 500;
}


.statistics {
	background-color: #333333;
    opacity: 80%;
}

.stat {
	display: flex;
	flex-wrap: wrap;
	color: #FFF;
}

.stat__item {
	flex: 1 1 0;
	border-left: 1px solid rgba(255,255,255,0.1);
	text-align: center;
	padding: 80px 40px;
}

.stat__item:last-child {
	border-right: 1px solid rgba(255,255,255,0.1);
}

.stat__num {
	font-size: 70px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 10px;
}

.stat__text {
	font-size: 14px;
	text-transform: uppercase;
}

.services {
	display: flex;
	flex-wrap: wrap;
}

.services__item {
	padding-right: 25px;
	display: flex;
	width: 33%;
	margin-bottom: 30px;
}

.services__item i {
    margin-right: 25px;
    font-size: 30px;
    color: #FCE38A;
}

.services__content {
	width: 400px;
}

.services__title {
	text-transform: uppercase;
	font-size: 14px;
	color: #333;
	margin-bottom: 10px;
}

.services__text {
	font-size: 15px;
	color: #999;
}

hr {
	display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}

.devices {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}
.devices__item {
	display: block;
	max-width: 100%;
	height: auto;
}

.section--devices {
	background: url("img/devices-bg.jpg") center no-repeat; 
	background-size: cover;
	padding-bottom: 0;
	margin-bottom: 180px;
}

.iphone {
	position: absolute;
	bottom: -80px;
	right: 0;
	z-index: 2;
}

.wedo {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.wedo__item {
	width: 50%;
	padding: 0 15px;
}

.wedo__img {
	display: block;
	max-width: 100%;
	height: auto;
}

.accordion__item {
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.accordion__item.active
.accordion__content {
	display: block;
} 

.accordion__header {
	padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__item.active .accordion__header {
	border-bottom-color: #e5e5e5;
}

.accordion__icon {
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;
	transform: translateY(-50%);
	font-size: 25px;
    color: #FCE38A;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.accordion__content {
	display: none;
    padding: 15px 20px;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.section--grey {
    background-color: #f8f8f8;
}

.reviews {
	padding: 0 110px;
	position: relative;
}

.reviews__item {
	padding-left: 255px;
	position: relative;
}

.reviews__photo {
	width: 210px;
	height: 210px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border: 2px solid #95e1d3;
	border-radius: 50%;
}

.reviews__text {
	font-size: 24px;
	font-style: italic;
	font-weight:300;
	color: #999;
	margin-bottom: 15px;
}

.reviews__author {
	font-size: 24px;
	font-family: 'Kaushan Script', cursive; 
	color: #333;
} 

.reviews__author:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 3px;
	margin-right: 10px;
	background-color: #F38181;
}

.reviews__btn {
	font-size: 0;
	color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.reviews__btn:after {
	content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-top: 3px solid #333;
    border-left: 3px solid #333;
}

.reviews__btn--prev {
	left: 0;
	transform: rotate(-45deg);
}

.reviews__btn--next {
	right: 0;
	transform: rotate(135deg);
}

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 80px -15px 0;
}

.card__item {
	width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
	background-color: #FCE38A;
	position: relative;
}

.card__img {
	transition: transform 0.2s linear;
}

.card__img img {
	display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__item:hover .card__img {
	transform: translate3d(-10px, -10px,0);
}

.card__item:hover .card__img img {
	filter: grayscale(100%);
}

.card__item:hover .card__text {
	opacity: 1;
}

.card__text {
	width: 100%;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0,-50%,0);
	opacity: 0;
	transition: opacity 0.2s linear;
}

.social {
	display: flex;
	justify-content: center;
}

.social__item {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	width: 40px;
	height: 40px;
	padding: 10px;
    border-radius: 50px;
	line-height: 1;
	transition: background 0.1s linear, color 0.1s linear;
}


.social__item:hover {
	background-color: #FFF;
	color: #000;

}

.card__info {
	margin-top: 20px;
	text-align: center;
}

.card__name, .clients__name {
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
}

.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.works {
	display: flex;
}

.works__col {
	flex: 1 1 0;
}

.works__item {
	position: relative;
}

.works__item:hover .works__img {
	filter: grayscale(1);
}

.works__item:hover .works__info {
	opacity: 1;
}


.works__img {
	display: block;
	height: auto;
	transition: opacity 0.1s linear;
	width: 100%;
}

.works__info {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	padding: 0 15px;
	width: 100%;
	text-align: center;
	color: #fff;
	transform: translate3d(0, -50%, 0);
    opacity: 0;	
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__title {
	margin-bottom: 5px;
	font-size: 14px;
	text-transform: uppercase;
}

.works__text {
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
}

.clients {
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0;
}

.clients__item {
	display: flex;
	width: 50%;
	margin: 30px 0;
}

.clients__photo {
	border-radius: 50%;
	margin-right: 20px;
	width: 110px;
	height: 110px;
}

.clients__prof {
	font-size: 15px;
	font-family: 'Kaushan Script', cursive; 
	color: #333;
	font-weight: 300;
	margin: 5px 0;
}

.clients__prof:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;
    background-color: #FCE38A;;
}

.blog {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
}     

.blog__item {
	width: 30%;
}

.blog__header {
	position: relative;

}

.blog__content {
	margin-bottom: 14px;

}

.blog__title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	margin: 14px 0;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}


.blog__photo {
	display: block;
	max-width: 100%;
	height: auto;
}

.blog__date {
	position: absolute;
	bottom: 10px;
	left: -10px;
	background-color: #FCE38A;
	padding: 5px 10px;
	line-height: 1;
	color: #000;
	text-align: center;
	z-index: 1;
}

.blog__date span {
	font-weight: 700;
    font-size: 15px;
}

.blog__date p {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.blog__text {
	font-size: 15px;
	color: #999;
	margin-bottom: 15px;
}

.blog__footer {
	border-top: 1px solid #e5e5e5;
	color: #999;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
}

.blog__stat span {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.blog__stat i {
	color: #FCE38A;

}

.section--map {
	background: url("img/map-bg.jpg") no-repeat;
	background-size: cover;
	padding: 40px 0;
}

.map {
	color: #FCE38A;
	text-align: center;
}

.map h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.map h2:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 20px auto;
	background-color: #FCE38A;
}

.map a {
	text-decoration: none;
	color: inherit;
}

footer {
	background: rgba(51, 51, 51, 0.8);
	color: #FFF;
	padding: 50px 0;
}

.footer__items {
	display: flex;
}

.footer__info {
    max-width: 370px;
    margin-right: 130px;
    width: 100%;
}

.footer__logo {
	font-weight: 700;
	font-size: 46px;
	margin-bottom: 20px;
}

.footer__text {
	font-size: 15px;
	margin-bottom: 60px;
	font-weight: 300;
}

.followers {
	font-size: 14px;
	display: flex;
	align-items: center;

}

.followers span {
	font-weight: 700;
	margin-right: 5px;
}


.footer__social:before {
	content: "";
	display: block;
	max-width: 370px;
	height: 3px;
	margin: 15px 0;
	background-color: #FCE38A;
}

.footer__social {
	margin-bottom: 30px;
}

.social__items {
	display: flex;ax-width: 370px;
	align-items: center;
}

.follow {
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	color: #999;
}

.social__items li:not(:last-child) {
    margin-right: 10px;
}    

.social__icon {
	text-decoration: none;
	color: #FFF;
}

.subscribe__input {
	width: 215px;
	height: 45px;
	padding: 12px;
	border: none;
    font-style: italic;
    color: #ccc;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF;
    line-height: 1.1;
}

.subscribe__input::placeholder {
	color: #ccc;
}

.subscribe__input:focus {
	outline: none;
	border: 1px solid  #95E1D4;
}

.subscribe__button {
	width: 155px;
	height: 45px;
	background-color: #FCE38A;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px;
	border: none;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	line-height: 1.1;
	transition: background 0.2s linear;
}

.subscribe__button:hover {
	background-color: #74c7b8;
}

.subscribe__button:focus {
	outline: none;
}

.footer__menu {
	display: flex;
	flex-wrap: wrap;
}

.footer__title  {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 15px;
}

.menu__items {
    margin-right: 45px;
}

.menu__items li {
	margin-bottom: 15px;
}

.menu__items li a {
	text-decoration: none;
	color:#FFF;
	font-weight: 300;
}

.copyright {
	margin-top: 50px;
	text-align: center;
	font-size: 14px;
}

.copyright span {
	color: #FCE38A;
}

@media (max-width: 1230px) {

	.intro__title {
		font-size: 120px;
	}

	.intro__subtitle {
		font-size: 52px;
	}

	.reviews__text {
		font-size: 20px;
	}


}

@media (max-width: 990px) {

	.intro__title {
		font-size: 80px;
	}

	.intro__subtitle {
		font-size: 32px;
	}

	.stat {
		justify-content: center;
	}

	.stat__item {
		flex: none;
		width: 33%;
		border: none;
		padding: 30px 0;
	}

	.stat__item:last-child {
		border-right: 0;
	}

	 .services__item {
        width: 50%;
        padding-bottom: 0;
    }

    .services__item--border {
        border-bottom: 0;
    }

    .reviews {
    	padding: 0 60px;
    }

	.reviews__item {
	    padding-left: 175px;
	}

    .reviews__photo {
		width: 150px;
		height: 150px;
	}

	.clients {
	    max-width: 600px;
	    margin: 0 auto;
	}

	.clients__item {
		width: 100%;
		padding-right: 0;
	}

	.footer__info {
	    width: 100%;
	}

	.footer__blog {
		width: 50%;
	}

	.footer__insta {
		width: 50%;
	}


	.insta__content a {
		width: auto;
	    border-right: 1px solid white;
	    justify-content: flex-start;
	}    

}  

@media (max-width: 770px) {

	.intro {
		min-height: 650px;
	}


	.intro__title {
		font-size: 40px;
	}

	.intro__subtitle {
		font-size: 22px;
	}

	.header{
		padding: 10px 0;
	}

	.nav {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		background-color: #FCE38A;
		width: 100%;
	}

	.nav__link {
		display: block;
		margin: 0;
		padding: 8px 20px;
	}

	.log {
    	margin-left: 0;
    }

	.nav__link.active {
		color: #333;
	}

	.nav__toggle {
		display: block;
	}

	.slider__text {
		display: none;
	}

	.slider__item.active:before {
	    width: 50%;
	}

	.section {
		padding: 40px 0;
	}

	.section--devices {
		padding-bottom: 0;
	}

	.card {
		margin-top: 50px;
		justify-content: center;
		}

	.card__item {
	    width: 100%;
	    max-width: 410px;
	    margin-bottom: 30px;
		}

	.card__item:last-child {
        margin-bottom: 0;
    	}

	.services {
		justify-content: center;
		}

	.services__item {
		width: 100%;
		max-width: 400px;
		padding-left: 55px;
		padding-right: 0;

	}

	.services__icon {
        left: 0;
    }

	.wedo__img {
    	display: none;
    }

    .wedo__item {
        width: 100%;
    }

    .reviews__photo {
    	position: static;
    	margin: 0 50px 20px;

    }

    .reviews__text {
	    font-size: 16px;
	}

    .reviews__item {
    	padding: 0;
    }

    .reviews__author {
	    font-size: 20px;
	}

	.works {
	    flex-wrap: wrap;
	}

	.works__col {
    	flex: none;
	}

	.blog {
	    max-width: 380px;
	    margin: 0 auto;
	}

	.blog__item {
	    width: 100%;
	    margin-bottom: 30px;
	}

	.footer__blog {
		width: 100%;
	}

	.footer__insta {
    	width: 100%;
    }


} 

@media (max-width: 575px) {


	.header__logo {
		font-size: 14px;
	}

    .intro__suptitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }

    .section__header {
        margin-bottom: 50px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    .stat__item {
        width: 100%;

        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__count {
        font-size: 52px;
    }

    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -80px;
    }

    .reviews {
    	padding: 0;
	}

	.reviews__btn {
    	top: 18%;
	}

	.works__col {
    	width: 100%;
	}

	.clients__item {
		padding-left: 0;
		align-items: flex-start;
	}

	.subscribe__form {
	    flex-wrap: wrap;
	    max-width: none;
	}

	.subscribe__input,
	.subscribe__button {
    	width: 100%;
    }

    .subscribe__input {
	    margin-bottom: 10px;
	    border-right: 1px solid #e7e7e7;
	}

	.subscribe__button {
		position: relative;
	}

	.footer__items {
		display: block;
	}

	.menu__items {
		margin: 15px;
}

	.menu__items li a {
    	display: none;
    }

	.copyright {
	    margin: auto;
	    text-align: center;
	    font-size: 10px;
	}
} 